{{>header}}
<title>Interio | Gallery</title>
{{>Navbar}}
<div class="container-fluid mt-2">
    <h5 class="text-center">Gallery</h5>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p1.jpg"><img src="/images/p1.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p2.jpg"><img src="/images/p2.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p3.jpg"><img src="/images/p3.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p4.jpg"><img src="/images/p4.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p5.jpg"><img src="/images/p5.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p6.jpg"><img src="/images/p6.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p7.jpg"><img src="/images/p7.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p8.jpg"><img src="/images/p8.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p9.jpg"><img src="/images/p9.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p10.jpg"><img src="/images/p10.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p11.jpg"><img src="/images/p11.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p12.jpg"><img src="/images/p12.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p13.jpg"><img src="/images/p13.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p14.jpg"><img src="/images/p14.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p15.jpg"><img src="/images/p15.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p16.jpg"><img src="/images/p16.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p17.jpg"><img src="/images/p17.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p18.jpg"><img src="/images/p18.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p19.jpg"><img src="/images/p19.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p20.jpg"><img src="/images/p20.jpg" height="250px" class="w-100 rounded" alt=""></a>
        </div>
    </div>
</div>
{{>footer}}