{{>header}}
<title>Static | Service</title>
{{>Navbar}}
<h4 class="text-center p-2">Our Services</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p11.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 1</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p12.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 2</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p13.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 3</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p14.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 2</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p15.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 3</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p16.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 2</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p17.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 3</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p18.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 2</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p19.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 3</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p20.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 2</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p8.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 3</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p9.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 2</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 service-item p-2">
            <img src="/images/p10.jpg" height="300px" class="w-100" alt="">
        </div>
        <div class="col-md-6 col-12 service-item p-2">
            <h5 class="text-center background p-1">Service 3</h5>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, cupiditate
                suscipit quas dolorem similique ad dicta assumenda expedita maxime tenetur voluptatum quam, doloremque
                nesciunt ducimus! Inventore minus possimus odio rem totam architecto nihil excepturi, quos rerum eos
                accusantium aperiam dolores adipisci ratione sapiente molestias corrupti cumque enim hic quod nulla sed
                quas, ut dolore. Voluptatibus consectetur fugiat rerum aliquam ut, repellendus est accusantium delectus
                error repudiandae veniam, consequatur amet quo expedita neque. Expedita sapiente illo repellendus rerum
                laboriosam, vel voluptatibus impedit accusantium fuga, odio quas dolores maxime! Quo, eos molestias
                dolor aut odio eaque dicta placeat repudiandae ad, quidem tenetur?</p>
        </div>
    </div>
</div>
{{>footer}}